<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870726707527-ddb7jaikqqi1dom9pj0p3cfq4j76bj8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870726707527-ddb7jaikqqi1dom9pj0p3cfq4j76bj8p</string>
	<key>API_KEY</key>
	<string>AIzaSyCmKc0vGeOfN86frZz9cWhTegIdUa4bPes</string>
	<key>GCM_SENDER_ID</key>
	<string>870726707527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dataProject</string>
	<key>PROJECT_ID</key>
	<string>ultimate-data-5e59c</string>
	<key>STORAGE_BUCKET</key>
	<string>ultimate-data-5e59c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870726707527:ios:93c079cec6a7a21eb20462</string>
</dict>
</plist>